{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="well bootable boot-start">
            <h1>Herzlich Willkommen</h1>
            <blockquote>
                <p>Dies ist mein Projekt im Rahmen vom Modul 152 bei Herrn Brodbeck.</p>
                <footer><a href="mailto:dominik.mueller@gibmit.ch">Dominik Müller</a></footer>
            </blockquote>
        </div>
    </div>
{% endblock %}
