{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="well bootable boot-start">
            <h1>Aufnehmen</h1>
            <div class="record-wrapper" style="background-size: 100%; background: url('data:image/jpg;base64,{{ img }}') no-repeat;">
                <div class="record-inner">
                    <i class="material-icons">camera_enhance</i>
                    <div style="display: block">
                        <button class="btn btn-default" onclick="window.location.reload()">Nochmal</button>
                        <button class="btn btn-default" onclick="window.location.href = '/'">Abbrechen</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}