{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="well bootable boot-start">
            <h1>Aufnehmen</h1>
        </div>
    </div>
{% endblock %}